/* Global styles
------------------------------------*/
:root {
  font-size: 100%;
  --banner-size: 12em;
}

html {
    box-sizing: border-box;
}

/* Add background and font */
body {
    color: #343434;
    padding-top: var(--banner-size);
    font-family:'Georgia', serif;
    font-size: 1em;
    line-height: 1.5;
}
