/* Global styles
------------------------------------*/
:root {
  font-size: 100%;
}

html {
    box-sizing: border-box;
}

body {
    color: #000000;
    padding-top: 1em;
    font-family:'Helvetica', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background: oldlace;
}

/* Box and background for name */
header h1 {
  border-style: solid;
  background: #ffa500;
  color: maroon;
  text-align: center;
}

/* Make navigation-link toolbar */
nav {
  position: fixed;
  top: 1%;
  left: 40%;
  color: black;
}

/* Box each individual link */
header a {
  border-style: solid;
  padding: 5px;
  background: orange;
  color: maroon;
  text-decoration: none;
}

/* Make section headers a different font */
.section-header {
  font-family:'Monaco', monospace;
  padding-right: 10px;
}

/* Display image and header side-by side */
#image-header {
  display: flex;
}

/* Image formatting */
#image-header img {
  width: 40px;
  height: 20px;
  padding-top: 25px;
}

/* Display contact info side-by-side with vertical line */
address {
  display: inline-block;
  padding-right: 10%;
  vertical-align: top;
  border-left: solid;
  padding-left: 20px;
  border-color: orange;
}

/* Display skills side-by-side */
#programming-languages, #computer-skills {
  display: inline-block;
  padding-right: 10%;
  padding-bottom: 5%;
}
