/* Global styles
------------------------------------*/
:root {
  font-size: 100%;
}

html {
    box-sizing: border-box;
}

/* Add background and font */
body {
    color: #343434;
    padding-top: 2em;
    font-family:'Arial', sans-serif;
    font-size: 1em;
    line-height: 1.5;
}
